<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>STVBallot: manuál</title>
        <link rel="stylesheet" type="text/css" href="../app/css/style.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <style>
            p {margin: 10px;}
        </style>
    </head>
    <body>
    <div style="max-width: 60em; margin: 10px;">
    <a href="index.html">STVBallot: Manuál</a>
